/* ------------------------------Main Page--------------------------------------- */
main {
  display: flex;
  padding-top: 100px;
  justify-content: center;
  width: 100%;
}

body {
 font-family: "Roboto", sans-serif;
 font-size: 16px;
 color: black;
 margin: 0;
 background-size: cover;
 background-image: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
 height: 100vh;
}

.quiz-title {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;

}

.description-container {
  background-color: grey;
  width: 75%;
  height: 50%;
  padding: 15px;
  border-radius: 10px;
  text-align:center;
}

.description-box-title {
  margin-bottom: 10px;
  font-size: 20px;
}

.description-box-content {
  font-size: 14px;
}

.start-quiz-button {
  margin-top: 25px;
  color: white;
  background-color: green;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  font-size: 16px;
}

.start-quiz-button:hover {
  cursor: pointer;
}


/* ---------------------------------Question-Page--------------------------------------- */

.question-container {
  background-color: grey;
  opacity: .9;
  padding: 15px;
  border-radius: 15px;
  width: 75%;
}

#question-submit-button, #next-button, #restart-quiz-button {
  color: white;
  background-color: green;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  font-size: 16px;
}

.question-submit-button:hover {
  cursor: pointer;
}

.question-radio-options {
  /* padding-bottom: 15px; */
}

.question-radio-options input {
  display:block;
}

.question-radio-options label {
  clear: both;
  margin-left: 25px;
  top: -16px;
  position: relative
}

.question-box-title {
  margin-bottom: 15px;
}

.score-and-question-wrapper {
display: flex;
justify-content: center;
margin-bottom: 25px;

}

.current-question {
  margin-right: 30px;
}

input, label {
  cursor: pointer;
}

/* ----------------------------------Correct/Incorrect Page------------------------------------------ */

.question-options-container {

}

.correct-container {
  border-radius: 10px;
      border: 10px solid green;
      width: 75%;
      margin-left: 25px;
      margin-top: 5px;
}

.wrong-container {
  border-radius: 10px;
  border: 10px solid red;
  width: 75%;
  margin-left: 25px;
  margin-top: 5px;
}

.right-answer {
  display: block;
  background: white;
  padding: 5px;
}

.wrong-answer {
  display: block;
  background: white;
  padding: 5px;
}

/* ----------------------------------Final Page------------------------------------------ */


.question-box-title-final {
  text-align: center;
  font-size: 18px;
}


#restart-quiz-button {
  margin-top: 5px;
}

#restart-quiz-button:hover {
  cursor: pointer;
  background-color: red;
}

.restart-button-container {
  display: flex;
  justify-content: center;
}

@@media (max-width: 576px) {
  .question-container {
    width: 100%;
  }

  main {
    padding: 0;
  }
}
